.heading{
    font-size: 20px;
    font-family: Arial, sans-serif;
    font-weight: bold;
    margin-top: 10px;
    text-align: center;
}

.blogcontent{
    width: 100%;
    display: flex;
    justify-content: center;
    margin: auto;
}

.blogcontent .blogsubcontent{
    width: 50%;
    padding: 15px;
    justify-content: center;
    text-align: center;
}

.blogcontent .blogsubcontent h1{
    font-size: 30px;
    font-family: Arial, sans-serif;
    font-weight: bold;
    padding: 10px;
    margin-top: 30px;
}

.blogcontent .blogsubcontent h2{
    font-size: 20px;
    font-family: Arial, sans-serif;
    padding: 10px;
}

.blogmaincontent{
    width: 100%;
    margin: auto;
    display: flex;
    justify-content: center;
    gap: 25px;
    max-width: 950px;
}

.blogmaincontent .blogImage{
    width: 300px;
    height: 150px;
    border: none;
    border-radius: 5px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
}

.blogmaincontent .blogImage .btn{
    width: 50%;
    padding: 8px;
    border: 1 px solid black;
    border-radius: 5px;
    justify-content: center;
    text-align: center;
    margin: auto;
    cursor: pointer;
    background-color: rgba(0, 0, 0, 0.311);
    color: rgba(255, 255, 255, 0.491);
    transition: all 0.5s ease;
}

.blogmaincontent .blogImage .btn:hover{
    background-color: black;
    color: rgba(255, 255, 255, 0.813) ;
}